{% block lifo_multiselect_widget %}
    {% set vue_config = config|merge({'form-name': full_name, id: id ~ '_wrapper'}) %}
{#    {{ dump(vue_config) }}#}
    {% if errors|length %}{% set vue_config = vue_config|merge({':state': 'false'}) %}{% endif %}
    <div {% with {attr: vue_config} %}{{ block('widget_container_attributes') }}{% endwith %}>
        {# hidden field is rendered with actual value in case form is submitted before the component is created #}
        {% with {type: 'hidden', id: null, attr: {}} %}
            {% if multiple %}
                {% for v in value %}
                    {% with {id: v.id, value: property in v.data ? v.data[property] : ''} %}{{ block('form_widget_simple') }}{% endwith %}
                {% endfor %}
            {% else %}
                {% with {id: value.id, value: property in value.data ? value.data[property] : ''} %}{{ block('form_widget_simple') }}{% endwith %}
            {% endif %}
        {% endwith %}
        {# mock-up of Vue component to help prevent flash of no content #}
        {% if skeleton %}
            <div class="form-row">
                <div class="col"><input type="text" class="form-control{% if size %} form-control-{{ size }}{% endif %}" /></div>
            </div>
        {% endif %}
    </div>
    {{ block('form_errors') }}
{% endblock %}

{# prevet duplicate errors, since i call 'form_errors' manually in the widget #}
{% block lifo_multiselect_errors '' %}

{% block lifo_select2_widget %}
    {%- if multiple -%}
        {% set attr = attr|merge({'multiple': 'multiple'}) %}
    {%- endif -%}
    <select {{ block('widget_attributes') }} data-config="{{ config|json_encode|e('html_attr') }}">
        {% if allow_clear or multiple or placeholder is not empty %}
            <option value=""></option>
        {% endif %}
        {% for option in (multiple ? value : [value]) %}
            {{ block('lifo_select2_widget_option') }}
        {% endfor %}
    </select>
    {% if error_target is not defined or error_target != 'label' %}{{ form_errors(form) }}{% endif %}
{% endblock %}

{#
render a single <option> for the select. The variable {option} contains [id,text,data] fields for the item
#}
{% block lifo_select2_widget_option %}
    <option value="{{ option.id }}" selected="selected">{{ option.text }}</option>
{% endblock %}
